@media screen and (max-width: 1280px) {
    body {
        width: 1280px;
    }
}


body {
    margin: 0 auto;
}

header {
    margin: 0 auto;
    display: flex;
}

.logo {
    background-image: url(assets/logo.png);
    background-repeat: no-repeat;
    background-position: 0 17.95px;
    padding: 17.95px 0 17.95px 41.25px;
    margin-left: 59px;
    font-size: 21px;
    flex: 1;
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}