@use "sass:math";
@use "sass:color";

$main-color: #39b3ebef !default;
$secondary-color: #006331a9 !default;
$arrow-size: 0.5rem;

@mixin arrow($direction) {
  display: inline-block;
  box-sizing: border-box;
  width: $arrow-size;
  height: $arrow-size;
  border: 2px solid transparent;
  border-top-color: currentColor;
  border-left-color: currentColor;
  content: "";
  @if $direction == "left" {
    transform: translateX(math.sqrt(2) / 4 * $arrow-size) rotate(-45deg);
  } @else if $direction == "right" {
    transform: translateX(math.sqrt(2) / -4 * $arrow-size) rotate(135deg);
  }
}

@mixin style() {
  .date-picker {
    * {
      transition: all 200ms;
    }
  }

  .date-picker:focus-within .date-picker-widget {
    transform: none;
  }

  .date-picker-widget {
    position: absolute;
    width: 16rem;
    overflow: auto;
    color: #555;
    border-radius: 8px;
    box-shadow: 0 0 15px #8a8a8a;
    transform: rotateX(90deg);
    transform-origin: top;
  }

  .date-navigator {
    display: flex;
    align-items: stretch;
    background-color: $main-color;

    button {
      background-color: transparent;
      border: 0;
      outline: 0;
      cursor: pointer;
    }

    button:hover {
      color: $secondary-color;
    }

    select {
      flex-grow: 1;
      padding: 5px;
      font-size: 0.9rem;
      text-align-last: center;
      background-color: transparent;
      outline: 0;
      appearance: none;
      border: {
        top: 0;
        bottom: 0;
      }
    }
  }

  .year-select {
    margin-right: 5px;
  }

  .last-year-button,
  .last-month-button {
    &::before {
      @include arrow("left");
    }
  }

  .last-year-button::after {
    @include arrow("left");
  }

  .next-year-button,
  .next-month-button {
    &::before {
      @include arrow("right");
    }
  }

  .next-year-button::after {
    @include arrow("right");
  }

  .date-table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;

    thead th {
      font-weight: normal;
      background-color: $secondary-color;
    }

    th,
    td {
      width: calc(100% / 7);
      padding: 7px 0;
    }

    td {
      outline: 0;
      cursor: pointer;
    }

    td:hover {
      background-color: $main-color;
    }

    td:not(.in-current-month) {
      color: #cdcece;
    }
  }

  .selected-cell {
    color: $secondary-color;
    background-color: $main-color;
  }

  .in-range-cell {
    background-color: color.adjust($main-color, $alpha: -0.4);
  }
}
