.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.grid-wrapper > * {
  height: 50px;
  background-color: #eee;
  border: 1px solid #999;
}

.col-2 {
  grid-column-end: span 2;
}

.col-3 {
  grid-column-end: span 3;
}

.col-6 {
  grid-column-end: span 6;
}

.col-8 {
  grid-column-end: span 8;
}

.col-12 {
  grid-column-end: span 12;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    grid-column-end: span 1;
  }

  .col-md-2 {
    grid-column-end: span 2;
  }

  .col-md-4 {
    grid-column-end: span 4;
  }

  .col-md-6 {
    grid-column-end: span 6;
  }
}
