@media screen and (max-width: 1280px) {
  body {
    width: 1280px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Microsoft YaHei", sans-serif;
  box-sizing: border-box;
}

.banner {
  width: 100%;
}

.red-button {
  color: rgb(255, 255, 255);
  background-color: rgb(231, 79, 77);
  text-decoration: none;
}

.white-button {
  color: rgb(231, 79, 77);
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}

.header {
  display: flex;
  padding-right: 67px;
}

.logo {
  background-image: url(assets/logo.png);
  background-repeat: no-repeat;
  background-position: 0 14.85px;
  padding: 17.95px 0 17.95px 41.25px;
  margin-left: 59px;
  font-size: 21px;
  font-family: "SimHei", sans-serif;
  color: rgb(49, 49, 49);
  flex: 1;
}

.header .nav {
  display: flex;
  list-style-type: none;
}

.header .nav a {
  display: inline-block;
  padding: 17px 25px;
  color: rgb(142, 145, 151);
  text-decoration: none;
}

.header .nav a:hover,
.header .nav li:first-of-type a {
  border-bottom: 4px solid rgb(231, 79, 77);
  color: rgb(231, 79, 77);
}

.login a {
  color: rgb(231, 79, 77);
  padding-left: 20px;
  padding-right: 0;
  margin-left: 5px;
  background-image: url(assets/login.png);
  background-repeat: no-repeat;
  background-position: 0 19.5px;
}

.top-banner {
  background: url(assets/NewLife.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 690px;
  display: flex;
  align-items: center;
  padding-left: 116px;
  color: rgb(255, 255, 255);
}

.top-banner .title {
  font-size: 60px;
}

.top-banner .detail {
  font-size: 21px;
  margin: 29px 0 0 8px;
}

.top-banner .button {
  display: inline-block;
  padding: 17px 101px;
  margin: 67px 0 0 8px;
  font-size: 30px;
}

.intro-banner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
}

.intro-banner img {
  display: block;
  margin: 45px auto;
}

.intro-banner p {
  padding: 0 20% 0 20%;
  height: 20%;
  border-right: 2px solid rgb(117, 117, 117);
  margin-bottom: 66px;
  font-family: "SimHei";
  color: rgb(118, 119, 119);
  line-height: 1.286;
  text-align: center;
}

.intro-banner li:last-of-type p {
  border-right: 0;
}

.middle-banner {
  height: 361px;
  padding-top: 89px;
  background-color: rgb(237, 236, 236);
}

.middle-banner img {
  display: block;
  margin: 0 auto;
}

.middle-banner p {
  margin: 0 auto;
  padding: 52px 0;
  font-size: 53.586px;
  font-family: "SimHei";
  color: rgba(50, 51, 51, 0.502);
  text-align: center;
}

.search-banner {
  background: url(assets/search.png) no-repeat;
  background-size: cover;
  padding-top: 51px;
  padding-bottom: 134px;
}

.search-banner .title,
.search-banner .detail {
  margin: 0 auto;
  width: fit-content;
}

.search-banner hr {
  width: 27px;
  margin: 0 auto;
  border: 1.5px solid white;
  background-color: white;
  position: relative;
  top: -18px;
}

.search-banner ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.search-banner .title {
  font-size: 21px;
  color: white;
  margin-bottom: 28px;
}

.search-banner .detail {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 56px;
}

.search-banner form {
  width: 80.47%;
  margin: 0 auto;
}

.search-banner li {
  margin: 0 19px;
  width: 22.82%;
}

.search-banner li * {
  width: 100%;
  height: 37px;
}

.search-banner li select {
  font-size: 12px;
  color: rgb(168, 170, 170);
}

.exhibit-banner {
  background-color: rgb(248, 248, 248);
  padding: 103px 0 116px 0;
}

.exhibit-banner ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 77.19%;
  margin: 0 auto;
}

.exhibit-banner li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exhibit-banner .title {
  margin-top: 13px;
  margin-bottom: 10px;
  color: rgb(49, 49, 49);
}

.exhibit-banner .detail {
  color: rgb(118, 119, 119);
}

.about-banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "figure figure nav"
    "red white img";
}

.about-banner > * {
  height: 566px;
}

.about-banner .figure {
  grid-area: figure;
  background-image: url(assets/Beijing.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.about-banner .figure h2 {
  font-weight: normal;
  font-size: 49.473px;
}

.about-banner .figure h3 {
  font-weight: normal;
  font-size: 157.788px;
  line-height: 0.8;
  margin-bottom: 40px;
}

.about-banner .figure .location,
.about-banner .figure .date {
  font-size: 22px;
}

.about-banner .nav {
  grid-area: nav;
  position: relative;
}

.about-banner .arrow {
  position: absolute;
  border: 15px solid transparent;
  border-right: 25px solid white;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
}

.nav-wrapper {
  padding: 166px 9.92% 128px 9.92%;
}

.nav-wrapper > *,
.about-banner .more-info > * {
  margin: 0 auto;
  width: fit-content;
}

.nav-wrapper h2 {
  font-size: 21px;
  font-family: "SimHei";
}

.nav-wrapper .page {
  font-size: 21px;
  color: rgb(231, 79, 77);
}

.nav-wrapper .detail {
  padding-top: 31px;
  padding-bottom: 50px;
  font-size: 12px;
  font-family: "SimSun";
  color: rgb(170, 170, 170);
  line-height: 2.5;
}

.nav-wrapper .button {
  display: block;
  padding: 8px 29px;
  font-size: 12px;
  border: 1px solid rgb(231, 79, 77);
}

.dots-nav {
  margin-top: 25px;
  list-style-type: none;
  display: flex;
}

.dots-nav a {
  display: block;
  margin: 0 8px;
  width: 12px;
  height: 12px;
  border: 1px solid rgb(146, 146, 147);
  border-radius: 50%;
}

.dots-nav li:first-of-type a {
  background-color: rgb(146, 146, 147);
}

.about-banner .more-info {
  padding: 173px 10.08% 201px 10.08%;
}

.about-banner .more-info h2 {
  font-size: 21px;
  font-family: "SimHei";
  font-weight: normal;
  line-height: 1.446;
  text-align: center;
}

.about-banner .more-info hr {
  width: 29px;
  margin: 25px auto;
  border: 1px solid;
}

.about-banner .button {
  display: block;
  padding: 11px 43px;
  border: 1px solid;
  font-size: 21px;
  font-family: "SimHei";
}

.about-banner .red {
  grid-area: red;
  background-color: rgb(231, 79, 77);
}

.about-banner .red h2 {
  color: white;
}

.about-banner .red hr {
  border-color: white;
  background-color: white;
}

.about-banner .red .button {
  border-color: white;
}

.about-banner .white {
  grid-area: white;
  background-color: white;
  position: relative;
}

.about-banner .white h2 {
  color: black;
}

.about-banner .white hr {
  border-color: rgb(171, 171, 170);
  background-color: rgb(171, 171, 170);
}

.about-banner .white .button {
  border-color: rgb(231, 79, 77);
}

.about-banner .white .arrow {
  position: absolute;
  border: 15px solid transparent;
  border-left: 25px solid white;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
}

.about-banner .img {
  grid-area: img;
  background-image: url(assets/platform.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.join-form {
  padding: 117px 10.86% 166px 10.86%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-form > .title {
  font-size: 21px;
  font-family: "SimHei";
  color: rgb(50, 51, 51);
}

.join-form > .title + hr {
  width: 28px;
  border: 1px solid rgb(231, 79, 77);
  background-color: rgb(231, 79, 77);
  margin-top: 10px;
  margin-bottom: 14px;
}

.join-form > .detail {
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: rgb(170, 170, 170);
  line-height: 1.5;
  text-align: center;
  margin-bottom: 107px;
}

.join-form > .grid-wrapper {
  display: grid;
  grid-template-columns: minmax(289px, auto) minmax(640px, auto);
  gap: 74px;
}

.terms {
  list-style-type: none;
}

.terms .title {
  font-family: "SimHei";
  color: rgba(35, 24, 21, 0.8);
}

.terms .detail {
  font-size: 12px;
  font-family: "SimSun";
  color: rgba(35, 24, 21, 0.6);
  line-height: 1.75;
  margin-top: 29px;
}

.terms .button {
  font-size: 12px;
  font-family: "SimSun";
  color: rgba(35, 24, 21, 0.6);
  line-height: 1.621;
  text-decoration: none;
  display: block;
  margin: 0 0 39px auto;
  width: fit-content;
}

.terms li:last-of-type .button {
  margin-bottom: 0;
}

.terms .button::before {
  content: "";
  border: solid rgba(35, 24, 21, 0.6);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  margin-right: 8px;
  transform: rotate(45deg) translateY(-2px);
}

.join-form .form {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.join-form .form li {
  background-color: rgb(237, 236, 236);
  padding: 15px;
  display: flex;
  align-items: center;
}

.join-form .descript,
.join-form .submit {
  grid-column: 1 / 3;
}

.join-form label {
  font-size: 12px;
  font-family: "SimSun";
  color: rgba(35, 24, 21, 0.8);
}

.join-form .form input {
  background-color: transparent;
  border: 0;
  flex: 1;
}

.join-form .form .descript {
  flex-direction: column;
  align-items: stretch;
}

.join-form .form textarea {
  resize: none;
  background-color: transparent;
  border: 0;
}

.join-form .form .submit {
  padding: 0;
}

.join-form .submit button {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 12px 0;
  font-family: "SimHei";
  font-weight: bold;
  color: rgb(50, 51, 51);
}

.contact-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(50, 54, 62);
  padding: 91px 0 70px 0;
}

.contact-banner .title {
  font-size: 21px;
  font-family: "SimHei";
  color: white;
}

.contact-banner .detail {
  font-size: 12px;
  font-family: "SimSun";
  line-height: 1.5;
  color: white;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 28px;
}

.contact-banner form {
  height: 41px;
  margin-bottom: 36px;
  display: flex;
  align-items: stretch;
}

.contact-banner .mail-input {
  display: inline-block;
  width: 430px;
  padding: 8px;
  border: 0;
}

.contact-banner .mail-input::placeholder {
  color: rgb(170, 170, 170);
}

.contact-banner button {
  width: 81px;
  font-size: 15px;
  color: white;
  background-color: rgb(111, 114, 120);
  border: 0;
}

.contact-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 187px;
}

.footer {
  padding: 29px 59px 14px 40px;
  background-color: rgb(47, 47, 56);
}

.copyright {
  font-size: 12px;
  font-family: "SimSun";
  color: white;
}

.back-to-top {
  float: right;
  text-decoration: none;
  font-size: 12px;
  font-family: "SimSun";
  color: white;
}
