html {
  background-color: #a3a3a32f;
}

body {
  margin: 0;
}

.top {
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
}

.top header {
  flex: 1;
  padding: 0 0.5rem;
}

.top ul {
  display: flex;
  list-style-type: none;
}

.top a {
  padding: 0 0.5rem;
  color: rgb(148, 137, 137);
  text-decoration: none;
}

.top a:hover {
  color: white;
}

article,
section,
aside {
  margin: 1.5rem;
  padding: 0.5rem 2rem;
  background-color: white;
  box-shadow: 0.5rem 0.5rem 0.5rem gray;
}

article h3,
aside h3,
.picset h3 {
  color: #0e0e0ebe;
}

.author_and_time {
  color: #141414a6;
  font-size: 0.3rem;
}

.pictures {
  display: flex;
}

.pictures .picture {
  margin: auto 0.5rem;
  padding: 0.5rem;
  border: 1px solid gray;
}

.pictures .picture:nth-of-type(1) {
  margin-left: 0;
}

table {
  width: 100%;
  margin: auto 0;
  border-collapse: collapse;
}

thead {
  color: white;
  background-color: black;
}

tfoot {
  background-color: gray;
}

.input_wrapper {
  width: 100%;
}

label.outer_label {
  display: inline-block;
  width: 40%;
  font-weight: bold;
  text-align: right;
}

.mail p,
.pwd p {
  padding-left: 40%;
  color: #141414a6;
  font-size: 0.7rem;
}

input[type="submit"] {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0;
  color: white;
  text-align: center;
  background-color: rgb(51, 51, 223);
  border: 2px solid rgba(129, 116, 116, 0.822);
  border-radius: 0.5rem;
}

footer {
  padding: 0.5rem 0;
  color: white;
  text-align: center;
  background-color: rgb(20, 20, 20);
}
